/*
    CSS modifications for the /getting-started page(s) 
*/

#githubs {
  display: block;
  h2 {
    display: inline;
  };
  span {
    display: inline;
    /*float: right;*/
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
  };
  span:hover {
    text-decoration: none;
    font-size: 125%;
  }
}

#suggestions {
  margin-bottom: 50px;
  .btn {
    width: 100%;
  }
}
