/* 
    CSS modifications for the /support page 
*/

#community-support {
}

.support-resource {
  padding-bottom: 20px;
  i {
    color: $brand-primary;
    display: inline;
    float: left;
    font-size: 40px;
    font-weight: 200;
    padding-right: 10px;
  };
  h3 {
    text-align: top;
  };
  p {
    display: block;
  }
}

#commercial-support {
  color: white;
  h2 {
    color: white;
  };
  em {
    color: gray;
  }
}