$font-size-base: 16px;
$line-height-base: 1.5; // 24/16

$font-family-monospace: 'Inconsolata', Monaco, Menlo, Consolas, "Courier New", monospace;

$link-color: #f1505a;

@import "bootstrap";
@import "maximum-thensome";
@import "code";

body {
  padding-top: 50px;
}
