.full-width {
  width: 100%;
}

#contacts {
  a {
    padding-left: 0px;
    font-size: 24px;
  }
}

.green {
  background-color: #3bc492;
}

.red {
  background-color: #FF675B;
}

.blue {
  background-color: #4baad3;
}

/* Easier buttons, derived from Maximum > style.css */
.maximum-button {
  display: block;
  position: relative;
  margin: 3em 0;
  max-width: 45%;
  border: none;
  padding: 10 10 7 10;
  min-height: 50px;
}

.maximum-button i {
  display: inline-block;
  color: #ffffff;
  float: right;
  font-size: 24px;
}

.maximum-button a {
  line-height: 20px;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Open Sans',sans-serif;
  font-weight: 500;  
  text-decoration: none;
  text-transform:uppercase;
}

.maximum-button:hover {
  border-bottom: 3px solid #42484d;
  background-color:#42484d;
  text-transform:uppercase;
  transition:all .5s ease-in; 
    -o-transition:all .5s ease-in; 
    -moz-transition:all .5s ease-in; 
    -webkit-transition:all .5s ease-in;
}

.green-border {
  border-bottom: 3px solid #1A7763;
}

.red-border {
  border-bottom: 3px solid #dd4a38;
}

.blue-border {
  border-bottom: 3px solid #3083a7;
}

/* Easier alerts, derived from Maximum > style.css */
blockquote {
  @extend .maximum-alert
}

.maximum-alert:before {
  border-color: #47bd9d transparent transparent transparent;
    border-style: solid;
    border-width: 14px 13px 0px;
    content: "";
    height: 0;
    left: 14px;
    position: absolute;
    bottom: -13px;
    width: 0;
  }

.maximum-alert {
  padding: 25px;
  clear: both;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #ffffff;
  background-color: #47bd9d;
    font-weight: 400;
  position: relative;
  }
  
.maximum-alert p {
  color:#ffffff;
  font-size:16px;
  font-weight: 400;
  }
  
.maximum-alert a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: underline;
  font-weight: 400;
  }
  
.maximum-alert a:hover {
  color: #ffffff;
  font-size: 16px;
  text-decoration: underline;
  font-weight: 400;
  }

/* Landing page styles */

#landingwrap-01 {
  background:#303032;
  width:100%;
  color:#fff;
    margin-top:-60px;
    text-align:center;
    padding-top:100px;
    padding-bottom: 40px;
}

#landingwrap-01 h2 {
  font-family:'Open Sans Condensed', sans-serif;
  color:#fff;
  font-size:40px;
  font-weight:300;
  text-align:left;
}

#landingwrap-02 {
  background: #3bc492;
  width: 100%;
  color:#fff;
}

#landingwrap-02 h1 {
  font-family:'Open Sans Condensed', sans-serif;
  color:#fff;
  font-size:45px;
  font-weight:300;
  text-align:center;
}


#landingwrap-02 h2 {
  font-family:'Open Sans Condensed', sans-serif;
  color:#fff;
  font-size:30px;
  font-weight:300;
  text-align:left;
}

#landingwrap-02 h3 {
  font-family:'Open Sans Condensed', sans-serif;
  color:#fff;
  font-size:30px;
  font-weight:300;
}


#landingwrap-02 p {
  color:#fff;
  font-size:14px;
}

#landingwrap-03 {
  background: url(/css/theme/maximum/img/landing/header.png) no-repeat center top; 
  margin-top: -60px;
  padding-top:160px;
  text-align:center;
  margin-left:-2px;
  height:500px;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
}

#landingwrap-03 h2 {
  color:#fff;
  font-family:'Open Sans Condensed', sans-serif;
  font-size:50px;
  font-weight:300;
}

#landingwrap-03 p {
  color:#fff;
  font-family:'Open Sans Condensed', sans-serif;
  font-size:24px;
  font-weight:300;
}

#landingwrap-04 h1 {
  font-family:'Open Sans Condensed', sans-serif;
  font-size:55px;
  color:#565656;
  font-weight:300;
  margin:10px;
}

#footerwrap {
  background-color:#303133;
  width:100%;
  padding-top:45px;
  text-align:center;
}

#footerwrap p {
  color:#f2f2f2;
  margin-bottom:10px;
  line-height:16px;
}

#footerwrap em {
  color:#575757;
  font-weight:bold;
  margin-bottom:15px;
}

